Flask==0.12.2
SQLAlchemy==1.1.11
Flask-SQLAlchemy==2.2
Flask-Migrate==2.0.4
Flask-Login==0.4.0
requests-oauthlib==0.8.0
psycopg2==2.7.1

flask>=0.12.3
Flask-Login==0.1.3
psycopg2==2.7.4
psycopg2-binary==2.7.4
SQLAlchemy==1.2.12
requests>=2.20.0
Python==2.7.14
Apache==2.4.29
pip==9.0.1
virtualenv==15.1.0