* {
	padding: 0;
	margin: 0;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 400;
}

p {
	font-family: 'Lato', sans-serif;
}

header {
	width: 100%;
	min-height: 50px;
	background-color: #21520d; 
	color: #ffffff;
	display: flex;
	justify-content: space-between;
	border-top: 2px solid white;
}

.header-title {
  padding: 15px;
  align-self: center;
  width: 200px;
  font-style: oblique;
}

.header-nav {
	padding: 15px 0;
	vertical-align: text-bottom;
	align-self: center;
}

.header-nav a {
	font-size: 1.2em;
	text-decoration: none;
	color: #ffffff;
	padding: 5px 15px 0;
}

.header-nav a:hover, .nav-responsive a:hover {
	color: #bfe2b0; /*Almost White */
}
/***********************************/
/* Responsive Top-Nav Bar (only appears at low dimensions)*/
.nav-responsive {
	display: flex;
	justify-content: space-between;
	background-color: #21520d; /* Darkest Green*/
	border-top: 0.5px solid white;
	border-bottom: 0.5px solid black;
}
.nav-responsive a {
	font-size: 1em;
	text-decoration: none;
	color: #ffffff;
	padding: 5px 15px;
}

/**********************************/
/*Main Content Styling*/
.content {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	min-height: 600px;
}

.content-main-container{
	margin: 0 auto;
}

.content-main {
	margin: 0 10px 10px 10px;
	display: inline-block;
}

img {
	width: 100%; 
}

.section-welcome {
	border-bottom: 2px solid #21520d;
	text-align: center;
}

.heading-non-coloured {
	border-top: 3px solid #21520d;
    border-bottom: 2px solid #21520d;
    padding: 15px 2px;
    color: #21520d;
    background-color: inherit;
    text-align:center;
}

.section-welcome p {
	font-family: 'Merriweather', serif;
	padding: 5px 0;
	line-height: 1.2em;
}


/****** Category Styling *********/
.description-lists {
	/*background-color: rgba(243, 255, 239, 0.41);*/
	/*border: 2px solid rgb(200, 255, 181);*/
	max-width: 865px;
}
.description-container {
	border-bottom: 1px solid #4ba625;; /*Yellow Green*/
	margin: 5px;
	padding-bottom: 3px;
	color: black;
}

.description-container:last-of-type {
	margin-bottom: 0; /* Match line with side menu*/
}

.heading-description {
	font-weight: 600;
	padding: 10px 0;
}

.description-item, .description-price {
	line-height: 1.2em;
	padding: 5px 0;
	font-family: 'Merriweather', serif;
}

/***************** Side Bar (content-side) Styling *******************/
.content-side {
	width: 250px;
	background-color: #2d6d12; /* A lighter dark green */
	/*background-color: #4ba625; /* Light Green */
	margin-bottom: 10px;
	margin-left: 10px;
	transition-property: margin-left;
	transition-duration: 1s;
}
.content-side-title {
	background-color: #21520d;   /* Dark Forest Green*/
	padding: 15px;
    align-self: center;
    border-radius: 2px;
    color: #ffffff;
    border-radius: 2px;

}

.content-side ul {
  list-style-type: none;
  margin: 0;
  font-size: 1.1em;

}

.content-side-list li {
  border-bottom: 1px solid #21520d;  /* Dark Forest Green*/
  padding: 15px; /* Padding for fat fingers at low screen size*/
}

.content-side-list li:hover {
  /*background-color: #347718;*/ /*Dark Green*/
  background-color: #4ba625; /*Ligher Dark Green*/
  border-radius: 2px;
  color: #21520d; /*Dark Forest Green*/
/
}

.links {
	text-decoration: none;
	font-size: 1.2em;
	white-space: nowrap;
	/*color: #183c09;*/ /* Very Dark Forest Green*/
	color: #ffffff;
	color: #bfe2b0; /* Almost white */
}
.links:hover {
  color: #21520d; /*Dark Forest Green*/
}

footer {
	width: 100%;
	height: 25px;
	background-color: #21520d;
	color: white;
}
footer p {
	text-align: center;
	vertical-align: center;
}

/************** Breakpoints *****************/

@media only screen and (max-width: 510px) {
	.nav-anchor {
		display: none;
	}
	.content {
		min-height: 300px;
	}
}
@media only screen and (min-width: 511px) {
	.nav-responsive {
		display: none;
	}
}