{% extends "main-rev.html" %}
{% block content %}
{% include "header-rev.html" %}
<section class="content">
	{% include "side-menu-rev.html" %}
	<div class="content-main-container">
		<section class="content-main">
			<picture>
				<img class="img-header" src="https://raw.githubusercontent.com/antzie/Calla-Grocer-Catalogue/master/static/css/chocolate-cake-with-berry-header.jpg" alt="An out of focus picture of the rasberries atop a Chocolate Cake.">
			</picture>
			<h2 class="heading-non-coloured">About Calla</h2>
			<div class="description-lists">
					<section class="description-container">
						<h3 class="heading-description centre-text">Hello There</h3>
						<p class="description-item centre-text"> 
							Calla is an in-progress template website. That means that Calla does not exist in real life and if you want to acquire some of the products advertised, you're going to have to go elsewhere. How about your local dairy/grocer store/ supermarket?
						</p>
						<p class="description-item centre-text">
							If those suggestions are too pedantic for you, you could always try going to the Moon. You know, that hunk of rock in the sky? You might find cheese there; not sure about chocolate though... as for vegetables, if you want healthy food, you're going to have to take it with you.
						</p>
						<p class="description-price centre-text"> Cheers!</p>
					</section>
			</div>
		</section>
	</div>		
</section>
{% include "footer-rev.html" %}
{% endblock %}
