{% extends "main-rev.html" %}
{% block content %}
{% include "header-rev.html" %}
<section class="content">
	{% include "side-menu-rev.html" %}
	<div class="content-main-container">
		<section class="content-main">
			<img id="main-img" src="/static/images/chocolate-cake-with-berry-header.jpg" alt="An out of focus picture of the rasberries atop a Chocolate Cake.">
			<h2 class="heading-non-coloured">About Calla</h2>
			<div class="description-lists">
					<section class="description-container">
						<h3 class="heading-description">Hello There</h3>
						<p class="description-item">We like stuff. We like lots of stiff
						lots nad lots of stuff. Glorious stuff. WE also can;t spell
						stuff. We like lots of stiff
						lots nad lots of stuff. Glorious stuff. WE also can;t spell<
						stuff. We like lots of stiff
						lots nad lots of stuff. Glorious stuff. WE also can;t spell<
						stuff. We like lots of stiff
						lots nad lots of stuff. Glorious stuff. WE also can;t spell< </p>
						<p class="description-price">we don't like prices</p>
					</section>
			</div>
		</section>
	</div>		
</section>
{% include "footer-rev.html" %}
{% endblock %}
