<!-- Re-Jig Entire Style -->
<!-- V1 26-03-2019 -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Category Page</title>
		<link href="https://fonts.googleapis.com/css?family=Alegreya|Alegreya+Sans+SC|Alegreya+Sans+SC:800|Open+Sans:600|Lato" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="static/css/style3.css">

	</head>
	<body>
		<header>
			<div class="header-title">
				<h1>Calla Grocery</h1>
			</div>
			<div class="header-nav">
				<a class="nav-anchor" href="#">Home</a>
				<a class="nav-anchor" href="#">About</a>
				<a class="nav-anchor" href="#">Log-in</a>
				<a href="#">
					<i class="fa fa-bars" onclick="toggleSideMenu()"></i>
				</a>
			</div>
		</header>
		<nav class="nav-responsive">
			<a href="#">Home</a>
			<a href="#">About</a>
			<a href="#">Log-in</a>
		</nav>
		<section class="content">
			<div class="content-side" id="menu-side">
				<div class="content-side-title">
					<h2>Catalogue</h2>
				</div>
				<ul class="content-side-list">
					<li>Coffee</li>
					<li>Tea</li>
					<li>Chocolate</li>
					<li>Fruit</li>
					<li>Vegetables</li>
				</ul>
			</div>
			<section class="content-main-container">
				
				<div class="content-main">
					<h2 class="heading-category">Category Name</h2>
					<img id="main-img" src="static/images/chocolate-cake-with-berry-header.jpg" alt="An out of focus picture of the rasberries atop a Chocolate Cake.">
					<div class="description-lists">
						<div class="description">
							<div class="description-item">
								<h3 class="heading-description">Coffee</h3>
								<p>The elixir of life. More creativity has been powered by coffee than...</p>
								<p>$5</p>
							</div>
						</div>
					<div>
			</section>		
		</section>
		<footer>
			<p>email: mariantzie@gmail.com</p>
		</footer>
	</body>
	<script src='js/js-respons.js'></script>
</html>


