{% extends "main-rev.html" %}
{% block content %}
{% include "header-rev.html" %}
<section class="content">
	{% include "side-menu-rev.html" %}
	<div class="content-main-container">
		<section class="content-main">
			<img id="main-img" src="/static/images/chocolate-cake-with-berry-header.jpg" alt="An out of focus picture of the rasberries atop a Chocolate Cake.">
			<h2 class="heading-category  heading-non-coloured">{{category.name}}</h2>
			<div class="description-lists">
				{% for fooditem in food %}
					<section class="description-container">
						<h3 class="heading-description">{{fooditem.name}}</h3>
						<p class="description-item">{{fooditem.description}}</p>
						<p class="description-price">{{fooditem.price}}</p>
					</section>
				{% endfor %}
			</div>
		</section>
	</div>		
</section>
{% include "footer-rev.html" %}
{% endblock %}
