{% extends "main-rev.html" %}
{% block content %}
{% include "header-rev.html" %}
<section class="content">
{% include "side-menu-rev.html" %}
	<div class="content-main-container">
		<section class="content-main">
			<picture>
				<img class="img-header" src="https://raw.githubusercontent.com/antzie/Calla-Grocer-Catalogue/master/static/css/chocolate-cake-with-berry-header.jpg" alt="An out of focus picture of the rasberries atop a Chocolate Cake.">
			</picture>
		<h2 class="heading-non-coloured"> Welcome to Num Num Foods </h2>
			<div class="description-lists">
				<section class="description-container">
					<h3 class="heading-description centre-text">Num Num - an Item Catalogue Template</h3>
					<p class="description-item centre-text"> Num Num is an in-progress template for an item catalogue website; specifically for a non-existent small grocer store.</p>
					<p class="description-price centre-text"> Have a browse through Num Num's virtual stock.</p>
				</section>
			</div>
		</section>
	</div>		
</section>
{% include "footer-rev.html" %}
{% endblock %}

<!-- 

	tea-1040653_1280
	fresh-strawberry-header
		<section class="content-main">
			<img id="main-img" src="/static/images/chocolate-cake-with-berry-header.jpg" alt="An out of focus picture of the rasberries atop a Chocolate Cake.">
			<h2 class="heading-non-coloured"> Welcome to Calla </h2>
			<section class="section-welcome">

				<p>If you have landed on here from somewhere other than github - please note, this is an in-progress template for an item catalogue website.</p>
				<p> Have a browse...</p>
			</section>
		</section>


		 If you have landed on here from somewhere other than github - please note, this is an in-progress template for an item catalogue website.
-->