<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Num Num Foods</title>
		<!--link href="https://fonts.googleapis.com/css?family=Alegreya|Alegreya+Sans:300,300i,400,400i,600i,700|Open+Sans:300,300i,400,400i,600i,700|Lato:200+400|Merriweather|ZCOOL+XiaoWei" rel="stylesheet"-->
		<link href="https://fonts.googleapis.com/css?family=Alegreya|Alegreya+Sans+SC:100,300i,400,400i|Open+Sans:300,300i,400,400i,600i,700" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/style3.css">
	</head>
	<body>
		{% block content %}
		{% endblock %}
	</body>
	<script src='/static/js/js-respons.js'></script>
</html>