{% extends "main-rev.html" %}
{% block content %}
{% include "header-rev.html" %}
<section class="content">
	<!-- To change to side-menu.html later -->
	<div class="content-side" id="menu-side">
		<div class="content-side-title">
			<h2>Catalogue</h2>
		</div>
		<ul class="content-side-list">
			{% for category in categories %}
				<li><a class="links links_category" href="{{url_for('showCategoryFood', category_id=category.id)}}">{{category.name}}</a></li>
			{% endfor %}
		</ul>
	</div>
	<div class="content-main-container">
		<section class="content-main">
			<img id="main-img" src="/static/images/chocolate-cake-with-berry-header.jpg" alt="An out of focus picture of the rasberries atop a Chocolate Cake.">
			<h2 class="heading-non-coloured"> Welcome to Calla </h2>
			<section class="section-welcome description-lists">
				<p>If you have landed on here from somewhere other than github - please note, this is an in-progress template for an item catalogue website.</p>
				<p> Have a browse...</p>
			</section>
		</section>
	</div>		
</section>
{% include "footer-rev.html" %}
{% endblock %}

<!-- 
		<section class="content-main">
			<img id="main-img" src="/static/images/chocolate-cake-with-berry-header.jpg" alt="An out of focus picture of the rasberries atop a Chocolate Cake.">
			<h2 class="heading-non-coloured"> Welcome to Calla </h2>
			<section class="section-welcome">

				<p>If you have landed on here from somewhere other than github - please note, this is an in-progress template for an item catalogue website.</p>
				<p> Have a browse...</p>
			</section>
		</section>
-->