<div class="content-side" id="menu-side">
	<div class="content-side-title">
		<h2>Catalogue</h2>
	</div>
	<ul class="content-side-list">
		{% for category in categories %}
		<a href="{{url_for('showCategoryFood', category_id=category.id)}}">
			<li class="links links_category">
				{{category.name}}
			</li>
		</a>
		{% endfor %}
	</ul>
</div>

<!--
		<ul class="content-side-list">
		{% for category in categories %}
			<li><a class="links links_category" href="{{url_for('showCategoryFood', category_id=category.id)}}">
				<div>
				{{category.name}}
				</div>
			</a></li>
		{% endfor %}
	</ul>
-->